.next
.vercel
coverage
node_modules

npm-debug.log
yarn-debug.log
yarn-error.log
pnpm-debug.log
*.log

.env
.env.local
.env.development
.env.test
.env.production
.env.*

dist

.DS_Store
.vscode
.idea
*.swp

.git
.gitignore

docker-compose.yml
Dockerfile
.dockerignore

jest.config.js
jest.config.ts
tests
__tests__