@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Trochut:ital,wght@0,400;0,700;1,400&display=swap');

:root {
  --background: #ffffff;
  --foreground: #171717;
  --colored-background: #DCE7F2;
  --default-font-family: "Nunito", sans-serif;
  --title-font-family: "Trochut", sans-serif;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-colored-background: var(--colored-background);
  --font-default: var(--default-font-family);
  --font-title: var(--title-font-family);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --colored-background: #1C2A3A;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}
