@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Trochut:ital,wght@0,400;0,700;1,400&display=swap');

:root {
  --background: #ffffff;
  --foreground: #171717;
  --foreground-inverted: #ffffff;

  --colored-background: #DCE7F2;
  --dark-colored-background: #365F91;

  --background-muted: #E4E4E4;
  --foreground-muted: #949494;

  --default-font-family: "Nunito", sans-serif;
  --title-font-family: "Trochut", sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --foreground-inverted: #ededed;

    --colored-background: #2E4A68;
    --dark-colored-background: #1C2A3A;

    --background-muted: #2E2E2E;
    --foreground-muted: #A1A1A1;
  }
}


@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-foreground-inverted: var(--foreground-inverted);

  --color-colored-background: var(--colored-background);
  --color-dark-colored-background: var(--dark-colored-background);

  --color-background-muted: var(--background-muted);
  --color-foreground-muted: var(--foreground-muted);

  --font-default: var(--default-font-family);
  --font-title: var(--title-font-family);
}


body {
  background: var(--background);
  color: var(--foreground);
}