@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Trochut:ital,wght@0,400;0,700;1,400&display=swap");

:root {
  --background: #ffffff;
  --foreground: #171717;
  --foreground-inverted: #ffffff;

  --colored-background: #dce7f2;
  --dark-colored-background: #365f91;

  --background-muted: #e4e4e4;
  --foreground-muted: #949494;

  --background-danger: #e97070;
  --background-success: #70e9a0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --foreground-inverted: #ededed;

    --colored-background: #2e4a68;
    --dark-colored-background: #1c2a3a;

    --background-muted: #2e2e2e;
    --foreground-muted: #a1a1a1;

    --background-danger: #8b3a3a;
    --background-success: #3a8b63;
  }
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-foreground-inverted: var(--foreground-inverted);

  --color-colored-background: var(--colored-background);
  --color-dark-colored-background: var(--dark-colored-background);

  --color-background-muted: var(--background-muted);
  --color-foreground-muted: var(--foreground-muted);

  --color-background-danger: var(--background-danger);
  --color-background-success: var(--background-success);
  
  --font-default: "Nunito", sans-serif;
  --font-title: "Trochut", sans-serif;
}

body {
  background: var(--background);
  color: var(--foreground);
}
